<h1>Signup</h1>

<form action="/" method="post">
Username: <input type="text" name="username"><br>
Password: <input type="text" name="password"><br>
Email: <input type="text" name="email">
<input type="submit" value="Submit">
</form>

